@charset 'UTF-8';

html,
html * {
  margin: 0;
  padding: 0;
}

body {
	background-color: white;
	font-size: 18px;
}

/* Navbar */

.navbar-brand img {
	max-width: 80px;
}


/* Typography */
h1, h2 {
	text-transform: uppercase;
	text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
	letter-spacing: .3em;

}




/* Sections */

section {
	min-height: 400px;
}

section img {
	max-width: 100%;
}

section.hero {
	padding-top: 130px;
	background-image: linear-gradient(to bottom right, #340190, #31F1AB);
	color: white;
}

section.intro {
	font-size: 2rem;
}

section.artwork {
	background-image: linear-gradient(to bottom right, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
}


section.artwork div {
	min-height: 150px;
}

footer {
	background-image: linear-gradient(to top right, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
}




/* Media queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}



/* Helpful things */

.margin-top-sm {
	margin-top: 10px;
}
.margin-top-md {
	margin-top: 20px;
}
.margin-top-lg {
	margin-top: 30px;
}
.margin-top-xl {
	margin-top: 60px;
}

.margin-right-sm {
	margin-right: 10px;
}
.margin-right-md {
	margin-right: 20px;
}
.margin-right-lg {
	margin-right: 30px;
}
.margin-right-xl {
	margin-right: 60px;
}

.margin-left-sm {
	margin-left: 10px;
}
.margin-left-md {
	margin-left: 20px;
}
.margin-left-lg {
	margin-left: 30px;
}
.margin-left-xl {
	margin-left: 60px;
}

.margin-bottom-sm {
	margin-bottom: 10px;
}
.margin-bottom-md {
	margin-bottom: 20px;
}
.margin-bottom-lg {
	margin-bottom: 30px;
}
.margin-bottom-xl {
	margin-bottom: 60px;
}

.padding-top-sm {
	padding-top: 10px;
}
.padding-top-md {
	padding-top: 20px;
}
.padding-top-lg {
	padding-top: 30px;
}
.padding-top-xl {
	padding-top: 60px;
}

.padding-right-sm {
	padding-right: 10px;
}
.padding-right-md {
	padding-right: 20px;
}
.padding-right-lg {
	padding-right: 30px;
}
.padding-right-xl {
	padding-right: 60px;
}

.padding-left-sm {
	padding-left: 10px;
}
.padding-left-md {
	padding-left: 20px;
}
.padding-left-lg {
	padding-left: 30px;
}
.padding-left-xl {
	padding-left: 60px;
}

.padding-bottom-sm {
	padding-bottom: 10px;
}
.padding-bottom-md {
	padding-bottom: 20px;
}
.padding-bottom-lg {
	padding-bottom: 30px;
}
.padding-bottom-xl {
	padding-bottom: 60px;
}
